<!DOCTYPE html>
<html>
  <body style = "background-color:brown">
    <title>Home</title> 
    <p style = "color:blue; text-align:center">This is from where the learning process starts</p>
  <hr>
<h1>THIS IS THE HOMEPAGE HOMIE !!!</h1>
<p>Click here to change the page   :</p> <%= link_to 'About', about_path %> <%= link_to 'Homepage', root_path %>
<br><br><br><br>
<form action="/action_page.php">
  
  <textarea rows ='4' cols="100">
		This is where you can enter your own text to start a new blog !!!
			</textarea>
  <br><br><br>
  
  First name:     </name:><input type="text" name="firstname" value=" ">
  <br><br><br>
  Last name:      <input type="text" name="lastname" value=" ">
  <br><br>
  <input type="submit" value="Submit">  <input type="Submit" value="Cancel">
</form> 
  </body>
</html>