<div class ="container">
  <footer class ="footer">
    <small>
      copyrights &copy; <a href="http://www.hahalala.com"> Wow This is Crazy</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>